@charset "utf-8";

:root {
    --app-main-color: #35aeff;
    --app-main-color-hover: #5bbdff;
    --app-secondary-color: #000;
    --app-tertiary-color: #fff;
    --app-card-color-effect: #009c9f;
}

body {
    background-color: #202020;
}

.container {
    width: min(100% - 2rem, 120rem);
    margin-inline: auto;
}

/**HEADER*/

header {
    background-color: #131313;
    color: var(--app-tertiary-color);
    padding: 2rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    height: 100%;
}

.header-title-links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-title-links h1 {
    font-size: 4rem;
}

.blue-title {
    color: var(--app-main-color);
}

.header-title-links nav {
    width: 100%;
}

.header-title-links nav ul {
    display: flex;
    gap: 2rem;
    /* Aumente o valor do gap para adicionar um espaçamento mínimo entre os links */
    align-items: center;
    justify-content: flex-end;
    /* Alinhe os links à direita */
}

.header-title-links nav ul li {
    list-style: none;
    height: 100%;
}


.header-title-links nav ul li a {
    text-decoration: none;
    color: var(--app-main-color);
    font-size: 2.5rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: var(--app-tertiary-color);
    }
}

.login-button {
    width: 12rem;
    height: 5rem;
    background: linear-gradient(-45deg, var(--app-main-color) 0%, var(--app-card-color-effect) 100%);

    color: var(--app-tertiary-color);
    border-radius: 4rem;
    border: none;
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        background-color: var(--app-main-color-hover);
        color: #000;
    }

    &:active {
        transform: scale(0.95);
    }
}

/**HERO BANNER**/

.hero-banner {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../media/images/hero-banner.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.hero-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--app-tertiary-color);
    gap: 5rem;
}

.hero-banner-container h2 {
    font-size: 10rem;
    font-weight: 600;
}

.hero-banner-container h2 span {
    color: var(--app-main-color);
}

.hero-banner-container p {
    font-size: 7rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--app-tertiary-color);
    text-shadow: #000 0.1rem;
}

.hero-banner-container button {
    width: 35rem;
    height: 10rem;
    background: linear-gradient(-45deg, var(--app-main-color) 0%, var(--app-card-color-effect) 100%);

    color: var(--app-tertiary-color);
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: none;
    font-size: 3.5rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        background-color: var(--app-main-color-hover);
        color: #000;
    }

    &:active {
        transform: scale(0.95);
    }
}

/**SERVICES-CARD-SECTION**/

.section-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    color: var(--app-main-color);
    font-size: 4rem;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    place-items: center;
    padding: 2rem;
}

section.services-container {
    width: 100%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 32px;
}

.content .paragraph {
    line-height: 1.5;
    font-size: 18px;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, var(--app-main-color) 0%, var(--app-card-color-effect) 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, var(--app-main-color) 0%, var(--app-card-color-effect) 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    height: 100%;
}

.card:hover {
    box-shadow: none;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}



/** MAP RULES**/
#map {
    width: 100%;
    height: 50dvh;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 5rem;
}

.map-tracker {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-items: center;
}

.tracker-box {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.tracker-header {
    width: 100%;
    height: 10rem;
    text-align: center;

}

.tracker-text {
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    color: var(--app-tertiary-color);
}

.tracker-form form {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tracker-form input {
    width: 30rem;
    height: 5rem;
    border-radius: 2rem;
    padding: 0 2rem;
    font-size: 2.5rem;
    font-weight: 600;

    &:focus {
        outline: #35aeff solid 0.2rem;
    }

}

.tracker-form button {
    width: 12rem;
    height: 6rem;
    background: linear-gradient(-45deg, var(--app-main-color) 0%, var(--app-card-color-effect) 100%);
    color: var(--app-tertiary-color);
    border-radius: 5rem;
    border: none;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        background-color: var(--app-main-color-hover);
        color: #000;
    }

    &:active {
        transform: scale(0.95);
    }
}

/**MAP STYLES**/

.popup-title {
    color: var(--app-main-color);
    font-size: 1.5em;
}


.about-us-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-items: center;
    padding: 2rem;
    gap: 2rem;
    margin: 5rem 0;
}

.about-us-text {
    flex: 1;
    padding-right: 2rem;
}

.about-us-text p {
    font-size: 2rem;
    color: var(--app-tertiary-color)
}

.about-us-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-us-image img {
    max-width: 100%;
    height: 50rem;
    object-fit: cover;
    border-radius: 5rem;
}

.contact-us-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-items: center;
    padding: 2rem;
    gap: 2rem;
    margin: 5rem 0;
}

.contact-us-text {
    flex: 1;
    padding-right: 2rem;
}

.contact-us-text p {
    font-size: 2rem;
    color: var(--app-tertiary-color)
}


.form-container {
    max-width: 70rem;
    margin: 3rem auto;
    background-color: #202020;
    padding: 3rem;
    border-left: 0.5rem solid var(--app-main-color);
}

.heading {
    display: block;
    color: var(--app-main-color);
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #013747;
    border: none;
    outline: none;
    padding: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    border-left: 0.1rem solid transparent;
}

.form-container .form .input:focus {
    border-left: 0.5rem solid var(--app-main-color);
}

.form-container .form .textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #013747;
    color: var(--app-main-color);
    font-weight: 700;
    resize: none;
    max-height: 15rem;
    margin-bottom: 2rem;
    border-left: 0.1rem solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
    border-left: 0.5rem solid var(--app-main-color);
}

.form-container .form .button-container {
    display: flex;
    gap: 1rem;
}

.form-container .form .button-container .send-button {
    width: 15rem;
    background: linear-gradient(-45deg, var(--app-main-color) 0%, var(--app-card-color-effect) 100%);
    border-radius: 5rem;
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    border: 0.1rem solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--app-main-color-hover);
        color: #000;
    }

    &:active {
        transform: scale(0.95);
    }
}

.form-container .form .button-container .reset-button-container {
    filter: drop-shadow(0.1rem 0.1rem 0rem var(--app-main-color));
    flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 1rem;
    color: #fff;
    background: linear-gradient(-45deg, var(--app-main-color) 0%, var(--app-card-color-effect) 100%);
    font-weight: 700;
    border-radius: 5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--app-main-color-hover);
        color: #000;
    }

    &:active {
        transform: scale(0.95);
    }
}

/**FOOTER**/

footer {
    background-color: #131313;
    color: #bdbdbd;
    padding: 2rem 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.footer-section {
    flex: 1;
    padding: 0 2rem;
}

.footer-section h2 {
    color: var(--app-tertiary-color);
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: var(--app-main-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--app-tertiary-color);
    }

    &:active {
        transform: scale(0.95);
    }
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    color: #bdbdbd;
}

.form label {
    color: var(--app-tertiary-color);
    font-size: 2rem;
    font-weight: 700;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}
   

.contact i {
    color: var(--app-main-color);
    margin-right: 1rem;
}